{% load main_templatetags %}
{% load web_templatetags %}
{% load static %}
{% get_contacts as contact %}
<div class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h1 class="fw-bold text-primary mb-4">Kaizen<span class="text-secondary"> Apex</span></h1>
                <p>Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href="{{contact.instagram}}"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href="{{contact.facebook}}"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href="{{contact.youtube}}"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p><i class="fa fa-map-marker-alt me-3"></i>{{contact.location}}</p>
                <p><i class="fa fa-phone-alt me-3"></i>{{contact.phone}}</p>
                <p><i class="fa fa-envelope me-3"></i>{{contact.email}}</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Quick Links</h4>
                <a class="btn btn-link" href="{% url 'web:index' %}">Home</a>
                <a class="btn btn-link" href="{% url 'web:about_us' %}">About Us</a>
                <a class="btn btn-link" href="{% url 'web:products' %}">Products</a>
                <a class="btn btn-link" href="{% url 'web:contact_us' %}">Contact Us</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <p>Have any Complaint ?</p>
                {% complaint_form as complaint_form %}
                <form action="{% url 'web:add_complaint' %}" method="POST" enctype="multipart/form-data" class="ajax redirect">
                    {% csrf_token %}
                    <div style="max-width: 400px;">
                        <input type="text" id="currentUrlField" class="d-none" name="current_url" readonly>
                        {{complaint_form.name}}
                        {{complaint_form.email}}
                        {{complaint_form.complaint}}
                        <button type="submit" class="btn btn-primary" style="width:100%;">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">kaizenapex.net</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Developed By <a href="https://www.instagram.com/___ramshid___/" target="">RAPT TECH</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% block static %}
{% load static %}
<script>
    function getCurrentPageUrl() {
      return window.location.href;
    }
    document.getElementById("currentUrlField").value = getCurrentPageUrl();
  </script>
{% endblock static %}