{% load static %}
<!-- JavaScript Libraries -->
<script src="{% static 'admin_panel/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'web/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'web/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'web/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'web/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'web/js/main.js' %}"></script>