{% load main_templatetags %}
{% load static %}
{% get_contacts as contact %}
<div class="container-fluid fixed-top px-0 bg-white" style="background-color: #fff !important;" data-wow-delay="0.1s">
    <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
        <div class="col-lg-6 px-5 text-start">
        <small><i class="fa fa-map-marker-alt me-2"></i>Sahliya Center Market, Doha-Qatar</small>
            <small class="ms-4"><i class="fa fa-envelope me-2"></i>kaizenapex2@gmail.com</small>
        </div>
        <div class="col-lg-6 px-5 text-end">
            <small>Follow us:</small>
            <a class="text-body ms-3" href="{{contact.facebook}}"><i class="fab fa-facebook-f"></i></a>
            <a class="text-body ms-3" href="{{contact.instagram}}"><i class="fab fa-instagram"></i></a>
            <a class="text-body ms-3" href="{{contact.youtube}}"><i class="fab fa-youtube"></i></a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="fw-bold text-primary m-0">Kaizen<span class="text-secondary"> Apex</span></h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'web:index' %}" class="nav-item nav-link {% if is_home %} active {% endif %}">Home</a>
                <a href="{% url 'web:about_us' %}" class="nav-item nav-link {% if is_about_us %} active {% endif %}">About Us</a>
                <a href="{% url 'web:products' %}" class="nav-item nav-link {% if is_products %} active {% endif %}">Products</a>
                <a href="{% url 'web:contact_us' %}" class="nav-item nav-link {% if is_contact_us %} active {% endif %}">Contact Us</a>
            </div>
        </div>
    </nav>
</div>