{% load static %}
{% load web_templatetags %}
<!-- Firm Visit Start -->
<div class="container-fluid bg-primary bg-icon mt-5 py-6">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-5 text-white mb-3">Discover Our Grocery Haven</h1>
                <p class="text-white mb-0">Step into our supermarket and experience the everyday magic of quality products at affordable prices. From fresh produce to household essentials, we're here to make your shopping hassle-free and enjoyable. Join us on a journey of convenience and value – your one-stop destination for all your needs.</p>
            </div>
            <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                <button type="button" class="btn btn-lg btn-secondary rounded-pill py-3 px-5" data-bs-toggle="modal" data-bs-target="#customerReviewForm">Write Your review</button>
            </div>
        </div>
    </div>
</div>
<!-- Firm Visit End -->

<!-- Modal -->
<div class="modal fade" id="customerReviewForm" tabindex="-1" aria-labelledby="customerReview" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius:8px;">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="customerReview">Add Your Review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {% customer_review_form as review_from %}
        <div class="modal-body">
            <form action="{% url 'web:create_customer_review' %}" method="post" enctype="multipart/form-data"  class="w-100 ajax reload" autocomplete="off" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name :</label>
                    {{review_from.name}}
                </div>
                <div class="mb-3">
                    <label for="ocupation" class="form-label">Ocupation :</label>
                    {{review_from.ocupation}}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email :</label>
                    {{review_from.email}}
                </div>
                <div class="mb-3">
                    <label for="review" class="form-label">Review :</label>
                    {{review_from.review}}
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image :</label>
                    {{review_from.image}}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% block static %}
{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
{% endblock static %}