<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    {% include 'web/includes/fav_icon.html' %}

    {% include 'web/includes/css.html' %}
    <style>
        /* Custom CSS */
        .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          z-index: 9999; /* Ensure it stays on top of other content */
        }
      </style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    {%include 'web/includes/navbar.html' %}
    <!-- Navbar End -->
    
    {% block content %}
    
    
    {% endblock  %}

    <!-- Footer Start -->
    {%include 'web/includes/footer.html' %}
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
    <div class="overlay">
        <div class="text-center">
          <h1 style="color:white;">Website under maintenance</h1>
          <p>Website coming soon...</p>
        </div>
    </div>
    {% include 'web/includes/js.html' %}
    {% include 'admin_panel/includes/js.html' %}
    {% block static %}
    {% endblock %}
    <script>
      function moreShow(position,element) {
          var initialContent = document.getElementById(position + 'initialContent');
          var remainingContent = document.getElementById(position + 'remainingContent');
          
          if (remainingContent.style.display === 'none') {
              remainingContent.style.display = 'inline'; // or 'block' if it's a block-level element
              element.textContent = 'Show Less';
          } else {
              remainingContent.style.display = 'none';
              element.textContent = 'Read More';
          }
      }
  
      document.addEventListener('DOMContentLoaded', function() {
          var aboutUsDescription = document.getElementById('aboutUsDescription');
          var readMoreBtn = document.getElementById('aboutUsReadMoreBtn');
          
          var maxHeight = 155; // Maximum height to show initially
          if (aboutUsDescription.clientHeight > maxHeight) {
              aboutUsDescription.style.overflow = 'hidden';
              aboutUsDescription.style.height = maxHeight + 'px';
              readMoreBtn.style.display = 'block'; // Show Read More button
          }
          
          // Toggle content visibility when Read More button is clicked
          readMoreBtn.addEventListener('click', function(event) {
              event.preventDefault(); // Prevent default link behavior
              
              if (aboutUsDescription.style.height === 'auto') {
                  aboutUsDescription.style.height = maxHeight + 'px';
                  readMoreBtn.textContent = 'Read More';
              } else {
                  aboutUsDescription.style.height = 'auto';
                  readMoreBtn.textContent = 'Show Less';
              }
          });
      });
  </script>
</body>

</html>