{% load static %}

<div class="left-sidenav">
    <!-- LOGO -->
    <div class="brand">
        <a href="{% url 'app' %}" class="logo">
            <span>
                <img src="{% static 'admin_panel/assets/images/mrm-logos/mrm-updated-logo2-150x150.png' %}" alt="logo-small" class="logo-sm" style="height: 85px;">
            </span>
        </a>
    </div>
    <!--end logo-->
    <div class="menu-content h-100" data-simplebar>
        <ul class="metismenu left-sidenav-menu">
            <li class="menu-label mt-0"></li>
            <li>
                <a href="{% url 'app' %}"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Dashboard</span></a>
            </li>
            <li>
                <a href="javascript: void(0);"> <i data-feather="users" class="align-self-center menu-icon"></i><span>Product</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'product:category_list' %}"><i class="ti-control-record"></i>Category</a>
                        <a class="nav-link" href="{% url 'product:create_category' %}"><i class="ti-plus"></i></a>
                    </li>
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link" href="{% url 'product:product_list' %}"><i class="ti-control-record"></i>Product</a>
                        <a class="nav-link" href="{% url 'product:create_product' %}"><i class="ti-plus"></i></a>
                    </li>
                </ul>
            </li>
            <li class="nav-item d-flex justify-content-between" >
                <a href="{% url 'web:banner_list' %}"> <i data-feather="dripicons-view-thumb" class="align-self-center dripicons-view-thumb menu-icon"></i><span>Banners</span></a>
                <a class="nav-link" href="{% url 'web:create_banner' %}"><i class="ti-plus"></i></a>
            </li>
            <li class="nav-item d-flex justify-content-between" >
                <a href="{% url 'web:our_feature_list' %}"> <i data-feather="dripicons-view-thumb" class="align-self-center dripicons-view-thumb menu-icon"></i><span>Our Features</span></a>
                <a class="nav-link" href="{% url 'web:create_our_feature' %}"><i class="ti-plus"></i></a>
            </li>
            <li class="nav-item d-flex justify-content-between" >
                <a href="{% url 'web:about_us_list' %}"> <i data-feather="dripicons-view-thumb" class="align-self-center dripicons-view-thumb menu-icon"></i><span>About Us</span></a>
                <a class="nav-link" href="{% url 'web:create_about_us' %}"><i class="ti-plus"></i></a>
            </li>
            <li class="nav-item d-flex justify-content-between" >
                <a href="{% url 'web:blog_list' %}"> <i data-feather="dripicons-view-thumb" class="align-self-center dripicons-view-thumb menu-icon"></i><span>Blog</span></a>
                <a class="nav-link" href="{% url 'web:create_blog' %}"><i class="ti-plus"></i></a>
            </li>
            <li class="nav-item d-flex justify-content-between" >
                <a href="{% url 'web:contact_list' %}"> <i data-feather="dripicons-view-thumb" class="align-self-center dripicons-view-thumb menu-icon"></i><span>Contact</span></a>
                <a class="nav-link" href="{% url 'web:create_contact' %}"><i class="ti-plus"></i></a>
            </li>
            <li class="nav-item d-flex justify-content-between" >
                <a href="{% url 'web:customer_review_list' %}"> <i data-feather="dripicons-view-thumb" class="align-self-center dripicons-view-thumb menu-icon"></i><span>Customer Reviews</span></a>
            </li>
            <li class="nav-item d-flex justify-content-between" >
                <a href="{% url 'web:complaint_list' %}"> <i data-feather="dripicons-view-thumb" class="align-self-center dripicons-view-thumb menu-icon"></i><span>Complaints</span></a>
            </li>
            <li class="nav-item d-flex justify-content-between" >
                <a href="{% url 'web:enquiry_list' %}"> <i data-feather="dripicons-view-thumb" class="align-self-center dripicons-view-thumb menu-icon"></i><span>Enquiry</span></a>
            </li>            
        </ul>
    </div>
</div>